
@{
    ViewBag.Title = "List";
}

<h2>User List</h2>

<table  class="table">
    <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Manoj</td>
            <td><a href="/MG/Detials?Name=Manoj">Details</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gayathri</td>
            <td><a href="/MG/Detials?Name=Gayathri">Details</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Priya</td>
            <td><a href="/MG/Detials?Name=Priya">Details</a></td>
        </tr>
    </tbody>
</table>
